#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#efms,
#text,
#result {
  display: block;
  margin: 10px;
  width: 90%;
}

pre,
#efms,
#text,
#result {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 14px;
  line-height: 1.2;
}

#error {
  margin: 10px;
  color: red;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

#container .github-fork-ribbon:before {
  background-color: #090;
}
